*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-font: "Roboto", sans-serif;
    --navy-blue: #07074d;
    --navy-blue-transparent: rgba(7, 7, 77, 0.5);
    --navy-blue-darkest: #030330;
}

a{
    text-decoration: none;
}

body{
    font-family: var(--primary-font);
}

/* header style */
header{
    position: sticky;
    top: 0;
    height: 82px;
    background-color: var(--navy-blue-transparent);
    z-index: 999;
    padding: 0 20px;
    margin-bottom: -82px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* banner - style */
.banner{
    background-color: var(--navy-blue-darkest);
    padding-top: 82px;
}

/* .banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
} */




.navbar .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
	
}	
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px){
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top:10px;
	}
}
/* ============ mobile view .end// ============ */