

:root{
    --primary-font: "Roboto", sans-serif;
    --navy-blue: #07074d;
    --navy-blue-transparent: rgba(7, 7, 77, 0.5);
    --navy-blue-darkest: #030330;
    --pink: #d87093;
    --crimson: #dc143c;
    --sky-blue-light: #87cefa;
}

p{
    color: var(--sky-blue-light);
    font-size: 20px;

}
a{
    text-decoration: none;
}

body{
    font-family: var(--primary-font);
    background-color: var(--navy-blue-darkest);
}

.common-bg{
    /* background-color: var(--navy-blue-darkest); */
    padding: 100px 0;
}

.about h2,
.education h2,
.skills h2{
    font-weight: 900;
    font-size: 40px;
}

h2, h1{
    color: var(--pink);
}

h1{
    font-weight: 900;
    font-size: 40px;
}

h2{
    font-size: 30px;
    font-weight: 900;
}





/* header style */
header{
    position: sticky;
    top: 0;
    height: 82px;
    background-color: var(--navy-blue-transparent);
    z-index: 999;
    padding: 0 20px;
    margin-bottom: -82px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* banner - style */

.banner{
    padding-top: 100px;
    padding-bottom: 100px;
}

.about{
    padding: 80px 0;
}
.about .about-container{
    /* height: 800px; */
    width: 75%;
}


.about-my-image{
    width: 350px;
}

.about-text{
    padding-left: 20px ;
    
}

.about-my-image img{
    border-radius: 50%;
width: 100%;
}

/* Education ---------------------------------*/
/* ----------------------------new TIMELINE SECOND trial */
.timeline{
    position: relative;
    
    margin: 100px auto;
}

.education-container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    /* background: var(--navy-blue-transparent); */

    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* animation of revealing the boxes of the timeline */
.education-container:nth-child(1){
    animation-delay: 0s;
}
.education-container:nth-child(2){
    animation-delay: 2s;
}
.education-container:nth-child(3){
    animation-delay: 4s;
}

.text-box{
    padding: 20px 30px;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
}


.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.education-container img{
    position: absolute;
    width: 40px;
    height: 40px;
    /* border-radius: 20px; */
    
    right: -20px;
    top: 32px;
    z-index: 10;
    background-color: #fff;
    padding: 8px;
    
}

.right-container img{
    left: -20px;
}

/* the middle white line */
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #ffffff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    

    animation: moveline 6s linear forwards;
}
@keyframes moveline{
    0%{
        height: 0;
    }

    100%{
        height: 100%;
    }
}



.text-box h3{
font-weight: 900;
}

.text-box small{
    display: inline-block;
    margin-bottom: 12px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;

}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;

}


/* SKIllS ---------------- */

.my-progress-box{
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
}

.my-progress-box h3{
    color: #fff;
}

.skill-label{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin: 10px 0;
}

.skill-bar{
    height: 5px;
    background-color: #fff;

}

.skill-per{
    height: 5px;
    background-color: #d87093;
    position: relative;

    animation: fillBars 6s 1;

}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 2px 6px;
    background: #fff;
    font-size: 10px;
    top: -35px;
    right: 0;
    transform: translate(50%);

}
.skill-per::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 10px;
    height: 10px;
    top: -20px;
    right: 0;
    transform: translate(50%) rotate(45deg);


}

@keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
    
}

.familiar{
    color: #fff;
}

.familiar li {
    font-size: 20px;
    margin: 20px 0;
}

.familiar ul li i{
    color: var(--crimson);
}



/* ============ Media query============ */



/* Mega menu design-bootstrap media snippet */
.navbar .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
	
}	
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px){
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top:10px;
	}
}
/* ============ mobile view .end// ============ */


/* ============ Timeline mediaquery ============*/
@media screen and (max-width: 600px) { 
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .education-container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box{
        font-size: 12px;
    }

    .text-box small{
        margin-bottom: 10px;
    }

    .right-container{
        left: 0;
    }

    .left-container img, .right-container img{
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }

}